/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #fff;
  --basic-black: #000;
  --basic-blue: #81b3d2;
  --hover-on-blue-button: #669ec0;
  --active-on-blue-button: #5496bd;
  --hover-on-brown-button: #604e43;
  --active-on-brown-button: #503e33;
  --basic-brown: #766357;
  --description-headers: #333;
  --background-gray: #eee;
  --background-rating: #f2f2f2;
  --text-rating: #666;
  --border-line-color: #e5e5e5;
  --wrapper-shadow: rgba(0, 1, 1, 0.2);
  --basic-white-03: rgba(255, 255, 255, 0.3);
  --basic-grey: #bdbbbc;
  --basic-grey-darken: #231f20;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--background-rating);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.center {
  text-align: center;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px var(--wrapper-shadow);
}

.main-header-logo {
  display: block;
  text-align: center;
  margin: 0 0 -80px 0;
}

/*       INDEX
 main-navigation */

.main-navigation {
  text-align: center;
}

/* Site navigation */
.site-navigation {
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  padding: 0;
  margin-left: 72px;
  margin-right: 72px;
  display: flex;
  justify-content: space-between;
}

.site-navigation__link {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: var(--basic-blue);
}

.site-navigation__link:active {
  color: var(--basic-black);
  opacity: 30%;
}

.current--link:visited {
  color: var(--basic-brown);
}
/* welcome */

.welcome {
  padding: 77px 0 88px 0;
  background-image: url("../img/background-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* about us */
.about-us {
  margin-bottom: 10px;
}

.description-headers {
  font-weight: 400;
  color: var(--description-headers);
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

.description-colored {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.description-about-us {
  font-size: 700;
  font-size: 21px;
  line-height: 26px;
}

.description-about {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--description-headers);
}

/* reason */

.reason {
  display: flex;
  margin: 0;
  padding: 0;
}

.reasons-colored {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 400px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  padding: 47px;
}

.headings-colored {
  font-size: 21px;
  line-height: 21px;
}

/* recommendations */

.headings-reasons-recommendations {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin: 30px 0 25px 0;
}

.recommendations-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recommendations-item {
  position: relative;
  padding: 132px 65px 82px 73px;
}

.recommendations-item::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.home::before {
  width: 75px;
  height: 72px;
  top: 60px;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
}

.food::before {
  width: 75px;
  height: 70px;
  top: 61px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
}

.suv::before {
  width: 64px;
  height: 77px;
  top: 55px;
  background-image: url("../img/suv.svg");
  background-repeat: no-repeat;
}

/* other-reasons */

.other-reasons {
  margin-top: 0;
}

.reasons-list {
  list-style: none;
  background-color: var(--background-gray);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reasons-item {
  width: 100%;
  padding: 47px 77px 54px 97px;
}

/* interested */

.interested-heading {
  font-size: 30px;
  line-height: 24px;
}

.description-interested {
  font-weight: 400;
  color: var(--description-headers);
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 24px;
}

.finding-hotels {
  display: inline-block;
  width: 568px;
  height: 86px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 33px;
  box-sizing: border-box;
  text-decoration: none;
}

.finding-hotels:hover,
.finding-hotels:focus {
  background-color: var(--hover-on-brown-button);
  outline: none;
}

.finding-hotels:active {
  background-color: var(--active-on-brown-button);
  color: var(--basic-white-03);
}

.search-button {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--hover-on-blue-button);
}

.search-button:active {
  background-color: var(--active-on-blue-button);
  color: var(--basic-white-03);
}

/******************* CATALOG ********************/

/* selection-filter */
.filter {
  padding: 26px 0 32px 0;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--basic-white);
}

.filter__legend {
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  color: var(--basic-white);
}

.checkbox-on input:checked ~ span::before {
  background-image: url("../img/bird.svg");
}

.filter span {
  position: relative;
  padding-left: 2em;
  font-size: 14px;
  line-height: 21px;
}

.filter span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 15%;
  border: 0.15em solid var(--basic-white);
}

/* scale-filter */
.scale-filter-button {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.scale-filter-button:hover,
.scale-filter-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* results */

.finding {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  padding: 32px 46px 31px 73px;
}

.sorting {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-line-color);
}

.results-list {
  list-style: none;
  margin: 0;
  padding: 26px 0 36px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.results-sorting {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding: 31px 40px 0 37px;
}

.results-button {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
  opacity: 30%;
  text-decoration: none;
}

.results-button:hover,
.results-button:focus {
  color: var(--basic-blue);
  opacity: 1;
}

.results-button:active {
  color: var(--basic-black);
}

/* sorting */

.sorting-list {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 32px 0 36px 400px;
}

.sorting-item {
  margin-right: 12px;
}

.sorting-button {
  outline: none;
  background-color: inherit;
  border: none;
}

.sorting-button svg {
  fill: var(--basic-grey);
  border: none;
  background: none;
}

.sorting-button svg:hover,
.sorting-button svg:focus {
  fill: var(--basic-black);
  outline: none;
}

.sorting-button svg:active {
  fill: var(--basic-blue);
  outline: none;
}

/* accommodation-list */

.all-hotels {
  margin-left: 29px;
}

.hotels-list {
  list-style: none;
}

.hotel-titles {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  outline: none;
  text-decoration: none;
}

.hotels-titles__link:hover,
.hotels-titles__link:focus {
  color: var(--basic-blue);
}

.hotels-titles__link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.description-hotels {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--description-headers);
  margin-right: 5px;
}

.description-hotels__span {
  margin-right: 40px;
}

/* rating */

.rating {
  display: block;
  width: 110px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--background-rating);
  text-align: center;
  color: var(--text-rating);
  margin: 5px;
}

/* rating-group */

/* rating button */
.info-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  width: 110px;
  height: 27px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-right: 6px;
}

.info-link:hover,
.info-link:focus {
  background-color: var(--hover-on-blue-button);
}

.info-link:active {
  color: var(--basic-white-03);
  background-color: var(--active-on-blue-button);
}

.booking-link {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  width: 142px;
  height: 27px;
  border: none;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.booking-link:hover,
.booking-link:focus {
  background-color: var(--hover-on-brown-button);
}

.booking-link:active {
  color: var(--basic-white-03);
  background-color: var(--active-on-brown-button);
}

/******* FOOTER *******/

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 138px 36px 111px;
}

.contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.contacts-phone {
  color: var(--basic-black);
  text-decoration: none;
}

/* footer-social */

.social-list {
  color: var(--basic-black);
  list-style: none;
  margin: 0 -6px -6px 0;
  padding: 0;
  display: flex;
}

.social-item {
  margin: 0 6px 6px 0;
}

.social-link {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  position: relative;
}

.social-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link--tw::before {
  background-image: url("../img/icon-tw.svg");
}

.social-link--fb::before {
  background-image: url("../img/icon-fb.svg");
}

.social-link--yt::before {
  background-image: url("../img/icon-yt.svg");
}

.social-link:hover {
  background-color: var(--hover-on-blue-button);
}

.social-link:active {
  background-color: var(--active-on-blue-button);
}

.social-link:active::before {
  opacity: 0.3;
}

/* footer-copyright */

.footer-copyright {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-copyright svg {
  fill: var(--basic-grey-darken);
}

.footer-copyright svg:hover {
  fill: var(--basic-blue);
}

.footer-copyright svg:active {
  fill: var(--basic-grey);
}
